@{
    ViewBag.Title = "About Us";
}
@{
    var languageId = Context.GetLanguageId();
}

<div class="container">
    <h2 class="text-center">@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-12">
            <img src="~/Images/Arthur.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4 col-sm-12">
            <h4>@Html.LanguageFieldString("Arthur Lu", languageId) (Designer&Developer)</h4>
            <br />
            <p>@Html.LanguageFieldString("Phone:", languageId) 021-057-8463</p>
            <p>@Html.LanguageFieldString("Email:", languageId) arthur.lv6@gmail.com</p>
            <p>@Html.LanguageFieldString("Website:", languageId) http://www.arthurcv.com/ </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-12">
            <img src="~/Images/Andrew.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4 col-sm-12">
            <h4>@Html.LanguageFieldString("Andrew", languageId) (Tester)</h4>
            <br />
            <p>@Html.LanguageFieldString("Phone:", languageId) 021-0843-2328</p>
            <p>@Html.LanguageFieldString("Email:", languageId) liuandr@gmail.com</p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-12">
            <img src="~/Images/emily.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4 col-sm-12">
            <h4>@Html.LanguageFieldString("Emily Chen", languageId) (Developer)</h4>
            <br />
            <p>@Html.LanguageFieldString("Phone:", languageId) 022-651-9881</p>
            <p>@Html.LanguageFieldString("Email:", languageId) Helloourworld@icloud.com</p>
        </div>
    </div>
</div>

